<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Movie Lottery</title>
  </head>
  <body>
  	<header>
  	 <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Movie Lottery</strong>
          </a>
          </button>
        </div>
      </div>
  	</header>
  	<section class="jumbotron text-center">
        <div class="container">
			<h1 class="jumbotron-heading">Login</h1>
        <form action="/login" method="post">
				<div class="input-group mt-5">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="addon-wrapping">Username</span>
				  </div>
				  <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username">
				</div>
				<input type="submit" class="btn btn-primary my-2">
			</form>
		</div>
	</section>
  </body>